<html>
    <body>
    <head>
        {% block css %}
            {# CSS #}
        {% endblock %}
    </head>
    {% block header %}
        {% include 'header.twig' %}
        {% block headerName %}
            MOJA NAZWA BLOKU
        {% endblock %}
    {% endblock %}
    <hr/>
    {% block body %}
        DEFAULTOWA TREŚĆ
    {% endblock %}

    DODATKOWY FOOTER
    {% include 'footer.twig' %}
    </body>
</html>