{% extends 'base.twig' %} 
  
{% block body %}
    <table>
        <tr>
            <td>
                <a href="">NAZWA</a>
            </td>
            <td>
                <a href="">CZAS TRWANIA</a>
            </td>
            <td>
                <a href="">ROK</a>
            </td>
            <td>
                <a href="">IMAGE</a>
            </td>
            <td>
                AKCJE
            </td>
        </tr>
        {% for value in movies %}
            <tr>
                <td>
                    {{ value['name'] }}
                </td>
                <td>
                    {{ value['duration'] }}
                </td>
                <td>
                    {{ value['productionYear'] }}
                </td>
                <td>
                    <img src="img/150_{{ value['id'] }}.jpg"/>
                </td>
                <td> 
                    <a href="">USUN</a>
                    <a href="">EDYTUJ</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form>
        <input type="text" name="title">
        <input type="text" name="duration">    
        <input type="submit">
    </form>
{% endblock %}

{% block header %}
    NAD PARENT
    {{ parent() }}
    POD PARENT
{% endblock %}
{% block headerName %}
    SUPER NAME
{% endblock %} 